.Weather {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0 auto;
}

.Weather:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.weather_country {
    font-size: 28px;
    margin: 10px 0;
    font-family: "Recursive", sans-serif;
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.weather_items_one,
.weather_items_two,
.weather_items_three {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
}

.weather_items_one {
    /* padding: 15px; */
}